table {
  background-color: "#dedede";
}

/* Para poner los bordes a la tabla */
table, th, td {
 border: 1px solid black;
 border-collapse: collapse;
}

th, td {
  width: 80px;
  height: 20px;
  padding: 5px;
  text-align: center;
}

.today {
  background-color: #ff9900;
  font-weight: bold;
}
